<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <table ng-controller="my_controller" align="center" id="assets">
        <thead>
            <tr>
                <th>S NO.</th>
                <th>ASSET NAME</th>
                <th>ASSET ID</th>
                <th>EDIT ASSETS</th>

            </tr>
        </thead>
        <tbody>
            <!-- <tr>{{testVar}}</tr> -->
            <tr ng-repeat="asset in assetlist">
                <td>{{$index+1}}</td>
                <td>
                    <input type="text " ng-disabled="!enabledEdit[{{$index}}] " ng-model="asset.assetname " />
                    <!-- <span id="{{asset._id}} ">  {{asset.assetname}}</span> -->
                </td>
                <td>
                    <input type="text " ng-disabled="!enabledEdit[{{$index}}] " ng-model="asset.assetID " />
                </td>
                <td>
                    <input type="button" ng-init="flag=false " value="{{btntext}} " ng-click="check(btntext,$index,asset)" />
                    <input type="button" value="Delete " ng-click="delete(asset)" />
                </td>
            </tr>


            </tr>
        </tbody>
    </table>
</body>